body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 2.2em;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 1.1;
}

.todo-container {
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
}

.input-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .8rem;
}

input {
  display: inline-block;
  width: 80%;
  height: 2em;
  padding: .3em;
  border-radius: 8px;
  border: 1px solid;

}


.todo-list {
  width: 100%;
  margin: .8rem;
  display: flex;
  flex-direction: column;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.completed {
  text-decoration: line-through;
}

.btn {
  border: none;
  cursor: pointer;
  width: 70px;
  min-height: 35px;
}

.btn-add {
  background-color: #b8f2e6;
}

.btn-edit {
  background-color: #a0f385;
}

.btn-delete {
  background-color: #fe9c9c;
}

button {
  display: inline-block;
  margin: .3em;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: .8em;
  font-weight: 500;
  font-family: inherit;
  background-color: #75bec1;
  cursor: pointer;
  transition: border-color 0.25s;
}